/*------------------------------------*\
        SIDEBAR.INUIT.CSS
\*------------------------------------*/

/*------------------------------------*\
	USAGE
\*------------------------------------*/
/*--
<ul id="<give any name>" class="sidebar cf">
        <h1>Sidebar</h1>
        <li><a href="#">Link#1</a></li>
        <li><a href="#">Link#2</a></li>
        <li><a href="#">Link#3</a></li>
        <li><a href="#">Link#4</a></li>
</ul>
--*/

/*------------------------------------*\
        SIDEBAR
\*------------------------------------*/
.sidebar {
    position: absolute;
    right: 0px;
    background-color: #4a8ec2;
    width: 80px; /*-- Specifies the width of the sidebar --*/
}

.sidebar li {
    list-style: none;
    border-top: 1px solid #666;
    border-bottom: 1px solid #999;
    padding: 5px;
}

.sidebar li:first-child {
    border-top: none;
}

.sidebar li:last-child {
    border-bottom: none;
}

.sidebar li a {
    display: block;
    color: #000;
    text-shadow: 0px 0px 1px #ccc, 0px 0px 1px #999;
    text-decoration: none;
    word-wrap: break-word;
}

.sidebar li:hover {
    background: #5998c7;
}